.navbar{
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 50px;
  color: white;
  position: relative;
  top: 10px;
  left: 40px;
  right: 0;
  max-width: 50%;
  
}
.Home, .Featured, .Bio, .Contact{
  text-decoration: none;
  color: white;
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 1.3vw;
  transition: .15s;
}
/* nav animation */
.Home:hover, .Featured:hover, .Bio:hover, .Contact:hover{
  background-color: white;
  color: black;
  padding: 10px 15px 10px 15px;
  scale: 1.1;
}
/* nav animation */
.underline{
  position: relative;
  top: 22px;
  left: -23px;
  background-color: white;
  height: 2px;
  width: 20px;
}
.first-page{
 color: white;
 padding-top: 100px;
}
.text{
  color: white;
  font-size: 20px;
  text-align: center;
}
.logo{
  display: flex;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-right: 1px solid white;
  padding-right: 20px;
  height: 30px;
  align-items: center;
  font-size: 40px;
}
/* hahahaha */
/* .img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  --_m: radial-gradient(#ffffff 69%,#d6d3d300 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
             mask-border: var(--_m);
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
} */
/* hahahahha */

.second-row-logo{
  display: flex;
  justify-content: space-around;
  flex: 1;
  max-width: 600px;
  margin: 0;
  height: 50px;
  align-items: center;
  margin-left: 30px;
}
.first-container{
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.img-side{
  position: relative;
  z-index: 120;
  height: 70vh;
  width: 25vw;
}
.left-side{
  max-height: 100%;
  position: relative;
  z-index: 140;
}
.img-side{
  padding-top: 50px;
}
.img-side img{
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  border-radius: 50px;
}
.sub-container{
  height: 500px;
  display: flex;
  /* z-index: 999; */
}
.side-text-one{
  border-top-left-radius: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 3px 0px 0px 3px;
  border-color: #ffffff;
  height: 17vw;
  width: 35vw;
  margin-top: 80px;
  margin-right: -300px;
  padding-left: 10px;
  padding-top: 10px;
  /* box-shadow: -10px -30px 70px rgba(255, 255, 255, .2); */
}
.name-line{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 6vw;
  max-width: 800px;
  margin: 0;
  padding-top: 10px;
  line-height: .8;
}
/* .name-line-two{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 214px;
  max-width: 800px;
  margin-top: -30px;
  padding-top: -10px;
} */
.lower-text-container{
  display: flex;

}
.lower-text-container-two{
  display: flex;
  margin-top: 0;
}
.tag-one{
  margin-top: 20px;
  background-color: #b4c468;
  color: #1e2124;
  height: 3vh;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 1vw;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.tag-two{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-left: 10px;
  font-size: 1vw;
  padding-right: 15px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 20px;
  /* background-color: #ed5555; */
  background-color: #ffca4f;
  color: #1e2124;
  height: 3vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
}
.tag-three{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-left: 10px;
  font-size: 1vw;
  padding-right: 15px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #7289da;
  color: #1e2124;
  height: 3vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
}
.tag-four{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 15px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  color: #1e2124;
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
}
.tag-five{
  margin-top: 9px;
  background-color: #ed5555;
  /* background-color: #ffca4f; */
  color: #1e2124;
  height: 30px;
  padding-left: 10px;
  padding-right: 15px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.resume{
  display: flex;
  color: white;
  align-items: center;
}
.resume div{
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid white;
  max-width: 150px;
  height: 40px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: .15s;
  cursor: pointer;
}
.resume div:hover{
  border: 1px transparent white;
  background-color: white;
  color: black;
}
.resume p{
  font-size: 1vw;
  height: auto;
  width: auto;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.resume a{
  text-decoration: none;
  color: white;
}
.featured-works h1{
  color: white;
}
.container-title{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  height: 200px;
}

.container-title h1{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 5vw;
}
.outer-middle{
  display: flex;
  justify-content: space-around;
}
.container-featured{
  width: 1300px;
  padding-top: 50px;
  height: 500px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff;
}

.left-featured-side{
  display: flex;
  flex-direction: column;
  max-height: 250px;
  max-width: 444px;
}
.left-featured-side img{
  max-height: 100%;
  width: 100%;
  border-radius: 30px;
  transition: .8s;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, .65);
  /* box-shadow: 0px 0px 15px rgba(255, 0, 0, .4); */
}
.left-featured-side img:hover{
  scale: 1.05;
}

.yt-thumb-container{
  max-height: 250px;
  max-width: 444px;
}
/* .yt-thumb{
  max-height: 100%;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(255, 0, 0, .4);
  transition: .8s;
  object-fit: cover;
}

.yt-thumb:hover{
  scale: 1.1;
  box-shadow: 0px 0px 25px rgba(255, 0, 0, 1);
} */

.yt-vid-one{
  max-height: 250px;
  max-width: 444px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(255, 0, 0, .5);
  transition: .8s;
}
.yt-vid-one:hover{
  scale: 1.1;
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 1);
}

.yt-vid-two{
  max-height: 250px;
  max-width: 444px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(251, 255, 35, 0.5);
  transition: .8s;
}
.yt-vid-two:hover{
  scale: 1.1;
  box-shadow: 0px 0px 50px rgb(255, 255, 35, 1);
}

/* .yt-thumb-two{
  max-height: 100%;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(251, 255, 35, 0.5);
  transition: .8s;
}
.yt-thumb-two:hover{
  scale: 1.1;
  box-shadow: 0px 0px 25px rgb(255, 255, 35, 1);
} */
.right-featured-side{
  /* position: relative;
  left: -180px; */
  max-height: 250px;
  max-width: 444px;
  color: white;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.numbers-featured{
  font-size: 1vw;
}
.right-featured-side img{
  margin-top: 30px;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  border-radius: 30px;
  transition: .8s;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, .65);
}
.right-featured-side img:hover{
  scale: 1.05;
}
.right-featured-side h1{
  font-size: 1.5vw;
}
.right-featured-side p{
  font-size: 1vw;
}
.btn-container-pic{
  display: flex;
  height: 170px;
  align-items: center;
  justify-content: space-around;
}
.run-anchor{
  text-decoration: none;
  background-color: rgb(255, 68, 68);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px 10px 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1vw;
  border-radius: 5px;
  transition: .15s;
  margin-top: 40px;
  max-width: 131.39px;
  max-height: 39px;
}
.run-anchor-two{
  text-decoration: none;
  background-color: rgb(255, 68, 68);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px 10px 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1vw;
  border-radius: 5px;
  transition: .15s;
  margin-top: 45px;
  max-width: 150px;
  max-height: 39px;
}
.run-anchor-two:hover{
  border: 1px solid rgb(255, 68, 68);
  background-color: black;
  color: rgb(255, 68, 68);
}
.run-btn{
  font-size: 1vw;
}
.run-anchor:hover{
  border: 1px solid rgb(255, 68, 68);
  background-color: black;
  color: rgb(255, 68, 68);
}

.section-three{
  /* background-color: lightcoral; */
  display: flex;
  justify-content: space-around;
  /* border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff; */
}
.section-three-container{
  margin-top: 40px;
  /* background-color: lightblue; */
  justify-content: space-around;
  display: flex;
  height: 600px;
  width: 1300px;
  border-style: solid;
  border-color: white;
  border-width: 0px 0px 1px 0px;
}

.bio-section{
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.bio-container{
  height: 600px;
  width: 1300px;
  display: flex;
}
.left-side-bio{
  min-width: 10%;
  max-width: 50%;
  width: 50%;
  padding: 10px 15px 10px 15px;
}
.left-side-bio h1{
  font-family: Montserrat, Helvetica;
  color: white;
}
.left-side-bio p{
  color: white;
  font-family: Montserrat, Helvetica;
  text-align: justify;
}
.school-img{
  margin-top: 50px;
  display: flex;
  object-fit: contain;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
/* .school-img img{
  height: 60%;
  object-fit: contain;
} */
.mmcm{
  height: 90px;
}
.caragasu{
  margin-top: -10px;
  height: 120px;
 
}

.right-side-bio{
  width: 50%;
  overflow: hidden;
  padding: 10px 15px 10px 15px;
}
.right-side-bio h1{
  font-size: 40px;
  color: white;
  font-family: Montserrat, Helvetica;
}
.right-side-bio h2{
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Montserrat, Helvetica;
}
.right-side-bio h3{
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: Montserrat, Helvetica;
}
.right-side-bio p{
  text-align: justify;
  color: white;
  font-family: Montserrat, Helvetica;
}
.right-side-bio-years{
  padding-top: 12px;
}
.contact-me{
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  /* background-color: #7289da; */
  overflow: hidden;
}
.contact-me-container{
  height: 800px;
  width: 1300px;
  /* background-color: #ed5555; */
  padding: 0px 10px 0px 10px;
}
.contact-me-title{
  color: white;
  font-family: Montserrat, Helvetica;
}
.contact-me-title{
  font-size: 40px;
  width: 70%;
  max-width: 70%;
  margin: 0px;
  margin-bottom: 0px;
}
.contact-me-lowertitle{
  position: relative;
  top: -30px;
  font-size: 25px;
  width: 80%;
  max-width: 80%;
  margin: 0px;
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.underline-email{
  cursor: pointer;
}
.vertical-field-one{
  display: flex;
  overflow: hidden;
  /* background-color: #72da9a; */
  height: 140px;
}
.input-field-container{
  padding-left: 10px;
  padding-bottom: 5px;
  /* background-color: #7289da; */
}
.Name{
  flex: 1;
}
.Name p{
  color: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.Name input{
  border-radius: 7px;
  min-width: 20%;
  max-width: 80%;
  width: 80%;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  background-color: #212121;
  padding: 16px 24px 16px 18px;
  margin-left: 10px;
  color: white;
}
.Message{
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 100%;
}
.input-name-message{
  margin-left: 10px;
  margin-bottom: 10px;
  flex: 1;
  border-radius: 7px;
  min-width: 20%;
  max-width: 90%;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  background-color: #212121;
  padding: 0px 24px 16px 18px;
  height: 24px;
  text-align: start;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.button-socials{
  display: flex;
  /* background-color: #b4c468; */
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.submit{
  margin-left: 10px;
  background-color: white;
  /* padding: 0px 0px; (optional)*/
  min-width: 500px;
  max-width: 500px;
  text-align: center;
  border-radius: 250px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.social-btns{
  display: block;
  width: 80%;
  padding: 50px;
}
.social-btns img{
  cursor: pointer;
  object-fit: contain;
  height: 80px;
  margin-right: 40px;
  opacity: 30%;
  transition: .15s;
}
.social-btns img:hover{
  opacity: 100%;
}


/* .update-text{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 6vw;
  position: absolute;
  color: white;
  display: block;
  top: 30px;
  margin: 0 auto;
  text-align: center;
  
} */

/* section three */
.left-three-sec{
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.left-three-sec-img{
  max-height: 60%;
  max-width: 90%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0px 0px 45px rgba(255, 0, 0, .6);
  transition: .8s;
}
.left-three-sec-img:hover{
  scale: 1.05;
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 1);
}
.right-three-sec{

  height: 95%;
  width: 50%;
  margin-bottom: 30px;
  font-size: 1vw;
  font-family: Montserrat, Helvetica;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right-three-sec-container{
  padding-left: 30px;
  height: 38%;
  width: 100%;
  border-left: 1px solid white;
  padding-top: 10px;
}

/* section three */